<% include partials/header %>

<div class="blog">

<% blogs.forEach(function(blog){ %>
<p><%=blog.title%></p>
<p><img src="<%=blog.image %>"></p>
<span><%=blog.created%></span>
<p><%-blog.body.substring(0,100)%>...</p>
<a href="/blogs/<%=blog._id%>"> Read More</a>
<% }) %>

</div>
<% include partials/footer %>